<section class="product-list center p-4 ">

    <div #scrollContainer class="search-results h-100 products center w-100 overflow-y-auto row-cols-lg-2 flex-wrap"
        infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
        [scrollWindow]="false">

        <div class="mt-4 w-100">
            <h3>Products You’ll Absolutely Love </h3>
        </div>

        @for (product of data(); track $index) {
        <app-product style="max-width: 460px;" [product]="product" (openProduct)="openProduct($event)"
            (addToCart)="addToCart($event)"></app-product>

        }

        <div class="w-100 bg-dark-subtle border border-1  border-dark  px-3 py-1">

            <div class=" w-100  justify-content-between align-items-center d-flex">

                <button class=" btn btn-secondary" (click)="setDataforPage(navigationConfig().page-1)">Pre</button>
                <div>
                    <span class="">Total Items {{productService.products().length}}</span>
                    <span> Showing item from {{this.navigationConfig().size *
                        this.navigationConfig().page-5}} to {{this.navigationConfig().size *
                        this.navigationConfig().page}}</span>
                </div>
                <button class=" btn btn-primary" [disabled]=""
                    (click)="setDataforPage(navigationConfig().page+1)">Next</button>

            </div>
        </div>

    </div>


</section>