<section class="product-list center p-4 ">

    <div #scrollContainer class="search-results h-100 products center w-100 overflow-y-auto row-cols-lg-2 flex-wrap"
        infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
        [scrollWindow]="false">

        <div class="mt-4 w-100">
            <h3>Products You’ll Absolutely Love </h3>
        </div>

        @for (product of data(); track $index) {
        <app-product style="max-width: 460px;" [product]="product" (openProduct)="openProduct($event)"
            (addToCart)="addToCart($event)"></app-product>

        }

        <div class="w-100  p-4 px-3 py-1">



            <div class=" w-100  center">

                <div class="center">
                    <ngb-pagination class="w-100" (pageChange)="navigate($event)" [collectionSize]="totalElement()"
                        [pageSize]="navigationConfig().size" [(page)]="navigationConfig().page"
                        aria-label="Default pagination" />
                </div>


            </div>
        </div>

    </div>


</section>